.card {
  border: none;
  border-radius: 8px;
  /* background: url("../../images/circles.png") no-repeat,linear-gradient(to right, #a74cf2, #617bfb); */
}

.Fitness-Card {
  max-height: 140px;
  max-width: 520px;
}
.Fitness-Card-Info {
  padding-left: 0;
  padding-right: 75px;
}
.Fitness-Card-Info h1 {
  font-size: 23px;
  color: white;
}
.Fitness-Card-Info p {
  font-size: 11px;
  color: white;
}
